<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="countCurrentView=((items   | firedUser | filter:{$:searchText, action:false} ).length)?(items   | firedUser | filter:{$:searchText, action:false} ).length:1"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        show-cont-it="showContIt"
        show-str="showStr"
        days="days"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>

<table class="table table-hover">
    <tr head-table type="vacation"></tr>
    <tr ng-repeat="item in filtered=(items   | filter:{$:searchText, action:false} |
      orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows) | limitTo: defaultRows)">
        <td>
            {{$index+1}}
        </td>
        <td>
            <!--<pre>{{item.owner.avatarUrl | json}}</pre>-->
            <a    href="/admin/users/edit/{{item.owner.id}}">
                <img ng-if="item.owner.avatarUrl" alt="{{ item.owner.getFullName() }}" ng-src="{{ item.owner.avatarUrl }}" class="photo"/>
                <img ng-if="!item.owner.avatarUrl" title="фото отсутствует" src="http://placehold.it/40x40/E7E7E7/E7E7E7/&text=Нет"
                     class="photo"/>
            </a>
        </td>
        <td nowrap>
            <a class="position" href="{{item.getEditUrl(item.id)}}">
                {{item.name}}
            </a>
        </td>
        <td  nowrap>
            <span class="position"> {{item.owner.lastName}} {{item.owner.firstName[0]}} {{item.owner.patronymicName[0]}}</span>
        </td>
        <td class="text-center">{{item.daysSelectHoliday}}</td>
        <td>
           <span >  {{item.furlough.name}}</span>
        </td>
        <td class="text-center">
            <span class="position" title="{{item.status | changeName}}" ng-class="item.status | getICO"></span>
        </td>
        <td>
            {{item.actions}}
        </td>
        <td class="text-center">
            <div ng-if="item.getIntersec()">
                <a class="position" href="{{item.getEditUrl(item.id)}}">
                    <!--<span class="glyphicon glyphicon-ok "></span>-->
                    <i class="fa fa-random" aria-hidden="true"></i>
                    +{{item.getIntersec().length}}
                </a>
                <!--{{item.getIntersec() | json}}-->
            </div>
        </td>
        <td class="text-center">{{item.createdAt | date:'dd.MM.yyyy H:mm:ss'}}</td>
        <td ng-if="me.admin" class="text-center">{{item.updatedAt |date:'dd.MM.yyyy H:mm:ss'}}</td>
        <td class="text-center" ng-if="me.admin">{{item.whomCreated.lastName}} {{item.whomCreated.firstName[0]}}
            {{item.whomCreated.patronymicName[0]}}
        </td>
        <td class="text-center" ng-if="me.admin">{{item.whomUpdated.lastName}} {{item.whomUpdated.firstName[0]}}
            {{item.whomUpdated.patronymicName[0]}}
        </td>
    </tr>
</table>

<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="countCurrentView"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        show-cont-it="showContIt"
        show-str="showStr"
        days="days"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>