<div ng-controller="navPageController" ng-cloak class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top" ng-if="me">
        <div class="container">
            <div class="navbar-header">
                <button ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed" type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/#" class="pull-left brighten">
                    <img height="21" width="100" src="/images/logo.png" style="margin: 15px; ">
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">


                    <li ng-if="(!me.admin && !me.kadr  && me.vacation)"><a ui-sref="home.company.vacations">Отпуска</a></li>

                    <li ng-controller="ListEmergenceController" ng-if="(me.admin || me.kadr)" class="dropdown">
                        <div ng-show="bdgs.length" class="badges-position">
                            <div class="badge danger" ng-mouseover="clickToOpen()">
                                {{bdgs.length}}
                            </div>
                        </div>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Заявки<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="home.admin.emergences">Выход нового сотрудника</a></li>
                            <!--<li><a ng-if="(me.admin)" ui-sref="home.admin.documents">Документы и отчётность</a></li>-->
                        </ul>
                    </li>
                    <li ng-if="(!me.admin && !me.kadr && me.emergence)" class="dropdown">
                        <div  ng-show="bdgs.length" class="badges-position">
                            <div class="badge danger" ng-mouseover="clickToOpen()">
                                {{bdgs.length}}
                            </div>
                        </div>
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Заявки<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ui-sref="home.company.emergences">Выход нового сотрудника</a></li>
                            <!--<li><a ng-if="(me.admin)" ui-sref="home.admin.documents">Документы и отчётность</a></li>-->
                        </ul>
                    </li>


                    <!-- ListScheduleController -->

                    <li ng-controller="ListScheduleController" class="dropdown">
                        <div ng-if="(me.admin || me.kadr)" ng-show="bdgs.length" class="badges-position">
                            <div class="badge danger" ng-mouseover="clickToOpen()">
                                {{bdgs.length}}
                            </div>
                        </div>
                        <a ng-if="(me.kadr || me.admin || me.leader)" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Кадровая служба<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-if="(me.admin || me.kadr)" ui-sref="home.admin.schedules">График отпусков</a></li>
                            <!--<li><a ng-if="(me.admin)" ui-sref="home.admin.documents">Документы и отчётность</a></li>-->
                        </ul>
                    </li>
                    <li ng-controller="ListVacationController" class="dropdown">
                        <div ng-if="(me.admin || me.kadr)" ng-show="bdgs.length" class="badges-position">
                            <div class="badge danger" ng-mouseover="clickToOpen()">
                                {{bdgs.length}}
                            </div>
                        </div>
                        <a ng-if="(me.kadr || me.admin || me.leader)" class="dropdown-toggle" data-toggle="dropdown" role="button">
                            Справочники
                            <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.users">Сотрудники</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.departments">Подразделения</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.positions">Должности</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.structures">Структура компании</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.skds">Отработанное время</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.vacations">Отпуска</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" ui-sref="home.admin.furloughs">Тип отпуска</a></li>
                            <li><a ng-if="(me.kadr || me.admin)" href="/admin/calendar/58b92215d19963601fad8fec/месяц">Посещаемость</a></li>
                            <li><a ng-if="me.admin" ui-sref="home.admin.users.administration">Группы</a></li>
                        </ul>
                    </li>
                    <li ng-if="me.switchAdmin || me.switchKadr">
                        <a type="button" class="btn btn-link btn-md pull-right" ng-click="goSwitch()" title="{{ins.title}}" >
                            <span class="glyphicon glyphicon-user" ng-class="{'glyphicon-king':(ins.titleName===' Админ'), 'glyphicon-queen':(ins.titleName===' Кадровик')}"></span> {{ins.titleName}}
                        </a>
                    </li>

                </ul>
                <ul ng-show="me.id" class="nav navbar-nav navbar-right">
                    <li class="gravatarSm">
                        <img class="gravatarSm" ng-src="{{me.avatarUrl}}" height="30"/>
                        <!--<img class="gravatarSm" ng-src="{{me.gravatarUrl}}" height="30" width="30"/>-->
                    </li>
                    <li class="activityOverlord active">
                        <a href="/profile" class="pointer"> {{me.fullName}} ({{me.phoneInner}})</a>
                    </li>
                    <li>
                        <form class="navbar-form navbar-right" autocomplete="off">
                            <button class="btn btn-success btn-md" ng-click="signOut()">Выход</button>
                        </form>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>
