<!--<div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->
<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>{{items[0].scs()}} {{exampleDate | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}<!--({{filtered.length}})-->
            <a ng-cloak href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button">
                всего за год:
                <span ng-if="mode">SD{{(items | firedUser | filter:{fired:true}).length}}</span>
                <!--<span ng-if="!mode">{{(items | filter:{fired:false}).length}}</span>-->
                <span ng-if="!mode">{{(items | firedUser ).length}}</span>
            </a>
            <span ng-if="mode" ng-bind="items[0].deactivation()"></span>
            <div class="btn-group-xs pull-right">

                <!--<button type="checkbox" ng-click="debug = debug ? false : true" title="отладка" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-wrench"></span>-->
                <!--</button>-->
                <!--<button ui-sref="home.admin.users.list" title="Список" type="button" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</button>-->
                <!--<button ui-sref="home.admin.users.settings" title="Настройки" type="button" class="btn btn-default">-->
                <!--<span class="glyphicon glyphicon-cog"></span>-->
                <!--</button>-->
                <!--<button type="checkbox" ng-click="getMode(t)" title="Режимы" class="btn btn-danger">-->
                <!--<span class="glyphicon glyphicon-off"></span>-->
                <!--</button>-->
                <!--<button ui-sref="home.admin.users.create" type="button" class="btn btn-warning">-->
                <!--<span class="glyphicon glyphicon-plus"></span>-->
                <!--</button>-->
                <button ng-if="me.admin" ui-sref="home.admin.vacations.administration" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-wrench"></span>
                </button>
            </div>
        </h2>
        <div ui-view></div>
        <div ui-view="settings"></div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="btn-toolbar" role="toolbar" aria-label="0">
                <alfavit
                        object-name="objectName"
                        get-char-text="getCharText(ch)"
                        filed-name="filedName"
                        where="where"
                        interface="interface"
                        select-year="options2"
                        show-interface-year="showInterfaceYear"
                        char-text="charText"
                        count-char="countChar">
                </alfavit>
                <word-part object-name="objectName"
                           filed-name="filedName"
                           where="where"
                           count-char="countChar"
                           char-text="charText"
                           get-char-text="getCharText(ch)">
                </word-part>
                <div ng-if="!searchText" ng-repeat="it in arrButton" class="btn-group btn-group-sm"
                     role="group" aria-label="4">
                    <button ng-click="getPage(it.numberPage)" type="button" ng-bind="it.numberPage"
                            class="btn " ng-class="{'btn-danger':enabledButton, 'btn-default':!enabledButton}"></button>
                </div>
            </div>
        </div>
        <div class="col-md-2" >
            <md-select class="mr0" placeholder="Выбрать" ng-model="modeSelect" md-on-open="loadOptions()" style="min-width: 200px;">
                <md-option ng-value="item" ng-repeat="item in options">{{item.display}}</md-option>
            </md-select>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Поиск ...">
                     <span class="input-group-btn">
                       <button ng-click="searchText=''" class="btn btn-default" type="button">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                     </span>
            </div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-10">
            <div ng-switch on="modeSelect.value">
                <div ng-switch-when="table">
                    <ng-include src="tableView"></ng-include>
                </div>
                <div ng-switch-when="action">
                    <ng-include src="actionView"></ng-include>
                </div>
                <div ng-switch-when="children">
                    <ng-include src="childrenView"></ng-include>
                </div>
                <div ng-switch-when="work">
                    <ng-include src="workView"></ng-include>
                </div>
            </div>
        </div>
        <div class="col-md-2"  style="margin-top:20px;" ng-controller="ListController">
         <div ui-view="sidebar-right"></div>
        </div>
    </div>

</div>
<!--<md-list ng-controller="ListController" ng-cloak>-->
<!--<md-subheader class="md-no-sticky">Avatar with Secondary Action Icon</md-subheader>-->
<!--<md-list-item ng-repeat="item in items" ng-click="goToPerson(person.name, $event)" class="noright">-->
<!--<img alt="{{ item.getFullName() }}" ng-src="{{ item.avatarUrl }}" class="md-avatar" />-->
<!--<p>{{ item.getFullName() }}</p>-->
<!--<md-checkbox class="md-secondary" ng-model="person.selected"></md-checkbox>-->
<!--<md-icon md-svg-icon="communication:email"  ng-click="doSecondaryAction($event)" aria-label="Send Email" class="md-secondary md-hue-3" ></md-icon>-->
<!--<md-icon class="md-secondary" ng-click="doSecondaryAction($event)" aria-label="Chat" md-svg-icon="communication:message"></md-icon>-->
<!--</md-list-item>-->
<!--</md-list>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<div ui-view="list"></div>
<div ui-view="attendance"></div>

<pre  ng-if="(debug && me.admin)"><h4>{{item| json}}</h4></pre>




