<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>{{items[0].scs()}} {{exampleDate | amDateFormat:'DD.MM.YYYY HH:mm:ss'}}</h2>
        <div ui-view></div>
        <div ui-view="settings"></div>
    </div>
    <div class="row">
        <div ui-view="edit"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            &nbsp;
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchText" placeholder="Поиск ...">
                     <span class="input-group-btn">
                       <button ng-click="searchText=''" class="btn btn-default" type="button">
                           <span class="glyphicon glyphicon-remove"></span>
                       </button>
                     </span>
            </div>
        </div>
    </div>


    <!--<div class="well">-->
        <!--<div class="btn-group" tri-button counter="buttons.totalClicks" source="button.names">-->
            <!--<button class="btn btn-default" ng-repeat="name in buttons.names">-->
                <!--{{name}}-->
            <!--</button>-->
        <!--</div>-->
        <!--<h5>Total clicks: {{buttons.totalClicks}}</h5>-->
    <!--</div>-->


    <div class="row" >
        <div class="col-md-10">
            <div ng-switch on="modeSelect.value">
                <div ng-switch-when="table">
                    <ng-include src="tableView"></ng-include>
                </div>
                <div ng-switch-when="action">
                    <ng-include src="actionView"></ng-include>
                </div>
                <div ng-switch-when="children">
                    <ng-include src="childrenView"></ng-include>
                </div>
                <div ng-switch-when="work">
                    <ng-include src="workView"></ng-include>
                </div>
            </div>
        </div>
        <div class="col-md-2"  style="margin-top:20px;" ng-controller="ListFController">
         <div ui-view="sidebar-right"></div>
        </div>
    </div>


    <!--<div class="row">-->
        <!--<div class="col-md-10">-->
            <!--<div ui-view="filters"></div>-->
            <!--<div ui-view="tabledata"></div>-->
            <!--<div ui-view="graph"></div>-->
        <!--</div>-->
    <!--</div>-->

</div>
<div ui-view="list"></div>
<div ui-view="attendance"></div>






