<!--<div ng-cloak class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main ng-scope">-->

<div class="col-sm-11  col-md-12  main">
    <div class="page-header">
        <h2>
            <p ng-if="item.lastName" ng-class="{'fired':item.fired}">{{item.getFullName()}}<span ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
                <small class="pull-right top-padding">{{boss.lastName}} {{boss.firstName}} {{boss.patronymicName}} &nbsp;&nbsp;
                    <a href="/admin/users/edit/{{boss.id}}"><img ng-if="boss.avatarUrl" title="{{boss.positions[0].name}}"
                                                                 alt="{{ boss.getFullName() }}" ng-src="{{ boss.avatarUrl }}"
                                                                 class="photo"/>
                    </a>
                    <span ng-if="!(item.positions[0].name == 'Генеральный директор')"> <img ng-if="!boss.avatarUrl"
                                                                                            title="Руководитель не назначен"
                                                                                            src="http://placehold.it/40x40/E7E7E7/E7E7E7/&text=Нет"
                                                                                            class="photo"/></span>
                </small>
            </p>
            <p ng-if="!item.lastName">Новый сотрудник</p>
            <a href="#" class="btn btn-success btn-xs disabled" ng-hide="item.fired" role="button"> Работает c {{item.dateInWork |
                date:'dd.MM.yyyy' }} ({{item.periodWork()}})</a>


            <!--<a href="#" class="btn btn-info btn-xs " ng-if="item.decree"  title="Отпуск по уходу за ребёнком c {{item.decree|date:'dd.MM.yyyy'}}"> В отпуске </a>-->
            <a href="#" class="btn btn-danger btn-xs disabled" ng-show="item.fired" role="button">сотрудник уволен {{item.firedDate |
                date:'dd.MM.yyyy'}}</a>
            <div class="btn-group-xs pull-right">
                <button ng-show="edit" ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span> Сохранить
                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span> Список
                </a>
            </div>

        </h2>
    </div>

    <div class="row">
        <div ng-class="{'col-md-6':close, 'col-md-12':!close, 'fx-fade-left':!close, 'fx-fade-right':close}">


            <!-- E D I T / C R E A T E  F O R M -->

            <div class="panel" ng-class="{'panel-warning':!item.fired, 'panel-default':item.fired}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать
                        <a href="#" ng-click="closed()" class="pull-right">
                            <span class="glyphicon" ng-class="{'glyphicon-menu-right':close,'glyphicon-menu-left':!close}"></span>
                        </a>
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="userForm" novalidate ng-submit="saveEdit(item)" enctype="multipart/form-data">
                        <div class="form-group">
                            <div ng-if="(me.admin)" class="checkbox">
                                <label>
                                    <input type="checkbox" ng-model="item.action">Активность
                                </label>
                            </div>
                            <label class="control-label" for="inputSuccess1">Фамилия</label>
                            <!--<input  type="text" class="form-control" ng-model="item.lastName">-->
                            <input ng-if="!edit" autofocus ng-change="getLdap()" required type="text" class="form-control"
                                   ng-model="item.lastName">
                            <input ng-if="edit" autofocus required type="text" class="form-control" ng-model="item.lastName">
                            <!--<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>


                        <div class="form-group">
                            <label class="control-label" for="inputSuccess2">Имя</label>
                            <input type="text" class="form-control" required ng-model="item.firstName">
                            <!--<span id="helpBlock2" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess3">Отчество</label>
                            <input type="text" class="form-control" required ng-model="item.patronymicName">
                            <!--<span id="helpBlock3" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                        </div>
                        <div class="form-group">
                            <label class="control-label">
                                Дата рождения
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.birthday">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span
                                      class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>


                        <div class="form-group ">
                            <label class="control-label" for="inputSuccess6">Логин</label>
                            <input type="text" class="form-control" ng-model="item.login">
                        </div>
                        <div class="form-group ">
                            <label class="control-label" for="inputSuccess7">Email</label>
                            <input type="text" class="form-control" ng-model="item.email">
                        </div>

                        <!--  E D I T   D E P A R T M E N T S  C O N T R O L L E R -->

                        <div ng-controller="ListDepartmentController" class="form-group ">
                            <label class="control-label" for="inputSuccess8" ng-bind="items[0].sc()"></label>
                            [ <a href="#" ng-click="addSubdivision()">добавить</a> ]
                            <div class="form-inline" ng-repeat="department in item.subdivision">
                                <div class="form-group">
                                    <select class="form-control" ng-model="department.id">
                                        <option ng-repeat="option in items| filter:{action:true}" value="{{option.id}}">{{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removeSubdivision(department)">x</button>
                            </div>
                            <!--<pre id="default-spacing">{{items | json}}</pre>-->
                            <!--<pre>D E P A R T M E N T S : {{items | limitTo:5 | json}}</pre>-->
                        </div>

                        <!--< N E W  P O S I T I O N -->
                        <div ng-controller="ListPositionController" class="form-group ">
                            <label class="control-label" ng-bind="items[0].sc()"></label>
                            <span ng-if="!item.positions.length>0">[ <a href="#" ng-click="addPosition()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="position in item.positions">
                                <div class="form-group">
                                    <select class="form-control" ng-model="position.id">
                                        <option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">{{option.name}}
                                        </option>
                                    </select>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removePosition(position)">x</button>
                            </div>
                            <!--<pre>P O S I T I O N S : {{items | limitTo:5 | json }}</pre>-->
                        </div>

                        <div class="form-group ">
                            <label>Телефон:</label>
                            [ <a href="#" ng-click="addContact()">добавить</a> ]

                            <div class="form-inline" ng-repeat="contact in item.contacts">
                                <div class="form-group">
                                    <select class="form-control" ng-model="contact.type">
                                        <option>Мобильный</option>
                                        <option>Телефон</option>
                                        <option>Внутренний телефон</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="sr-only" for="exampleInputPassword3">Password</label>
                                    <input class="form-control" type="text" id="exampleInputPassword3" ng-model="contact.value" required>
                                </div>
                                <button type="button" class="btn btn-default" ng-click="removeContact(contact)">x</button>
                            </div>
                        </div>

                        <div class="form-group ">
                            <label class="control-label" for="inputSuccess10">Номер машины</label>
                            <input type="text" class="form-control" ng-model="item.numCar">
                        </div>
                        <div ng-if="item.numCar">
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess10">Марка машины</label>
                                <input type="text" class="form-control" ng-model="item.brandCar">
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess10">Парковка</label>
                                <input type="text" class="form-control" ng-model="item.park">
                            </div>
                            <div class="form-group ">
                                <label class="control-label" for="inputSuccess10">Парковочное место</label>
                                <!--<input type="number" class="form-control" min=0 ng-model="item.parking">-->
                                <md-slider-container ng-disabled="isDisabled">
                                    <md-icon md-svg-icon="device:brightness-low"></md-icon>
                                    <md-slider ng-model="item.parking" min="0" max="1000" step="1" aria-label="Disabled 1" flex md-discrete
                                               ng-readonly="readonly"></md-slider>

                                    <md-input-container>
                                        <input flex type="number" min="0" max="1000" step="1" ng-model="item.parking" aria-label="green"
                                               aria-controls="green-slider">
                                    </md-input-container>
                                </md-slider-container>
                                <!--<md-checkbox ng-model="isDisabled">Is disabled</md-checkbox>-->
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">
                                Принят на работу
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts3"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.dateInWork">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeDateInWork(item)">
                                  <span class="glyphicon glyphicon-remove"></span>
                              </button>
                            </span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="inputSuccess25">
                                Комната:
                            </label>
                            <input type="text" class="form-control" ng-model="item.room">
                        </div>

                        <hr>
                        <p>Статус: <span class="radioValue"><!--<strong>{{ item.fired }}</strong>--></span></p>
                        <md-radio-group ng-click="saveEdit(item)" ng-model="item.fired" class="md-primary">
                            <md-radio-button ng-repeat="d in radioData"
                                             ng-value="d.value"
                                             ng-disabled=" d.isDisabled "
                                             ng-class="{'md-align-top-left': $index==1, 'md-warn':$index==1}">
                                {{ d.label }}<br/>
                                    <span class="ipsum"
                                          ng-if="$index == 1">

                                    </span>
                            </md-radio-button>
                        </md-radio-group>


                        <!--<div class="form-group ">-->
                        <!--<label class="checkbox-inline">-->
                        <!--<input type="checkbox" ng-model="item.fired">-->
                        <!--Уволен-->
                        <!--</label>-->
                        <!--<label class="control-label" for="inputSuccess15"></label>-->

                        <!--&lt;!&ndash;<span id="helpBlock6" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>&ndash;&gt;-->
                        <!--</div>-->
                        <div class="form-group">
                            <label class="control-label">
                                Дата увольнения
                            </label>
                            <div class="input-group">
                                <input type="text" class="form-control flatpickr" ng-flatpickr
                                       fp-opts="dateOpts3"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.firedDate">
                            <span class="input-group-btn">
                              <button class="btn btn-default" type="button" ng-click="removeFired(item)"><span
                                      class="glyphicon glyphicon-remove"></span></button>
                            </span>
                            </div>
                        </div>


                        <div ng-if="(me.admin)" class="row" ng-if="item.id">
                            <div class="col-md-5">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="control-label" for="inputSuccess18">
                                            Зарегистрирован в системе
                                        </label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                            {{item.getCreatedAt() | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group ">
                                    <div class="form-group " ng-if="item.updatedAt">
                                        <label class="control-label" for="inputSuccess18">Последнее обновление</label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                            {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div ng-show="((me.admin ) && !edit)" class="row">
                            <div class="col-xs-6 col-sm-6 col-md-6">
                                <div class="control-group form-group">
                                    <input data-ng-model="item.password" data-ng-minlength="6"
                                           type="password" name="password"
                                           class="form-control" placeholder="Пароль" tabindex="6">
                                    <!--<span class="help-block has-error" data-ng-if="item.password.$dirty">-->
                                    <!--<span data-ng-show="item.password.$error.required">Поле обязательно к заполнению.</span>-->
                                    <!--<span data-ng-show="item.password.$error.minlength">Пароль должен быть не менее 6 символов.</span>-->
                                    <!--</span>-->
                                </div>
                            </div>

                            <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                            <!--<div class="control-group form-group">-->
                            <!--<input data-ng-model="item.encryptedPassword" required   type="password"-->
                            <!--name="confirmation"-->
                            <!--class="form-control"-->
                            <!--placeholder="Повторить пароль" tabindex="7">-->
                            <!--&lt;!&ndash;<span class="help-block has-error" data-ng-if="item.confirmation.$dirty">&ndash;&gt;-->
                            <!--&lt;!&ndash;<span data-ng-show="item.password.$error.compareTo">Пароли должны совпадать.</span>&ndash;&gt;-->
                            <!--&lt;!&ndash;<span data-ng-show="item.password.$error.required">Требуется повторить пароль.</span>&ndash;&gt;-->
                            <!--</span>-->
                            <!--</div>-->
                            <!--</div>-->
                        </div>


                        <div class="form-group">
                            <!--<div class="form-group" style=" position: fixed;margin-left: 50px; margin-bottom: 70px; bottom:0; left:0;">-->
                            <button ng-show="!edit" type="submit" ng-disabled="userForm.$invalid" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-user"></span>
                                Сохранить
                            </button>

                            <button ng-show="edit" type="submit" class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                                Сохранить
                            </button>
                            <a ng-if="me.admin" ng-href="{{item.getListUrl()}}" class="btn btn-md btn-warning">
                                <span class="glyphicon glyphicon-list"> </span>
                                Список
                            </a>
                            <!--<button ng-if="!item.id" ng-click="revert()" ng-disabled="!canRevert()" class="btn btn-md btn-primary">-->
                            <!--<span class="glyphicon glyphicon-erase"> </span>-->
                            <!--Очистить-->
                            <!--</button>-->


                            <!--<button ng-if="item.id" ui-sref="home.admin.users.edit(data.id)"-->
                            <!--class="btn btn-default btn-md pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                            <!--</button>-->

                        </div>
                    </form>
                    <button ng-show="me.admin" ng-if="!item.action" ng-click="delete2(item)" class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>

        </div>
        <div ng-class="{'col-md-6':close, 'col-md-12':!close, 'fx-fade-left':!close, 'fx-fade-right':close}">


            <!-- D E C R E E -->
            <div ng-controller="ListVacationController">
            <div ng-if="me.admin || me.kadr" class="panel"
                 ng-class="{'panel-danger':!item.fired, 'panel-default':item.fired,'fx-fade-right':close, 'fx-fade-left':!close}"
                 ng-repeat="vac in   filtered=(items  | searchObjectVal:'furlough':'name':['Отпуск по беременности и родам','Отпуск по уходу за ребенком'] |  filter:{owner: {login:item.login}}) ">
                <div class="panel-heading">
                    <h3 class="panel-title">{{vac.furlough['name']}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div>
                                <h3 class="text-center">c {{vac.name}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>


            <!-- U P L O A D E R -->

            <div ng-if="item.id" ng-switch on="modeSelect.value">
                <div ng-switch-when="uploader">
                    <ng-include src="uploaderView"></ng-include>
                </div>
            </div>


            <!-- C H A N G E  P A S S -->

            <div ng-if="me.admin" class="panel"
                 ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':close, 'fx-fade-left':!close}">
                <div class="panel-heading">
                    <h3 class="panel-title">Сменить пароль

                    </h3>
                </div>
                <!-- Error state -->
                <div class="alert alert-info toggle" ng-show="editProfile.changePassword.errorMsg">
                    <h4>Oops!</h4>
                    <code>
                        {{editProfile.changePassword.errorMsg}}
                    </code>
                </div>
                <form ng-submit="changeMyPassword()" name="changePassword">
                    <div class="control-group form-group col-md-6"
                         ng-class="{'has-error':changePassword.password.$invalid && changePassword.password.$dirty}">
                        <label>Новый пароль</label>
                        <input type="password" class="form-control" placeholder="не менее 6 знаков" name="password"
                               ng-model="editProfile.properties.password" id="password" required ng-minlength="6"
                               compare-to="editProfile.properties.confirmPassword">
                <span class="help-block has-error" ng-if="changePassword.password.$dirty">
                  <span ng-show="changePassword.password.$error.required">Введите пароль.</span>
                  <span ng-show="changePassword.password.$error.minlength">Пароль должен содержать не менее 6 символов.</span>
                </span>
                    </div>
                    <div class="control-group form-group col-md-6">
                        <label>Повторить пароль</label>
                        <input type="password" class="form-control" placeholder="ещё раз" name="confirmation"
                               ng-model="editProfile.properties.confirmPassword" required>
                <span class="help-block has-error" ng-if="changePassword.confirmation.$dirty">
                  <span ng-show="changePassword.password.$error.compareTo">Password must match.</span>
                  <span ng-show="changePassword.confirmation.$error.required">Confirmation password is required.</span>
                </span>
                    </div>
                    <button type="submit" class="btn btn-lg not-border btn-default btn-block" ng-disabled="changePassword.$invalid">
                        <span ng-show="changePasswordForm.saving" class="overlord-loading-spinner fa fa-spinner"></span>
                        <span ng-show="changePasswordForm.saving">Сохраняю...</span>
                        <span ng-hide="changePasswordForm.saving" class="btn-text">Сохранить</span>
                    </button>
                </form>
            </div>


            <!-- I N F O  P A N E L -->

            <div ng-if="me.admin" class="panel"
                 ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':close, 'fx-fade-left':!close}">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="(key, value) in item">
                                <th>{{key}}</th>
                                <td>{{value | date:'dd.MM.yyyy' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>


<!--<div ui-view></div>-->
<!--<div ui-view="users"></div>-->

