@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 79.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee

@gray-darker: lighten(#000, 13.5%); // #222
@gray-dark: lighten(#000, 20%); // #333
@gray: lighten(#000, 33.5%); // #555
@gray-light: lighten(#000, 79.7%); // #777
@gray-lighter: lighten(#000, 93.5%); // #eee
@brand-primary: white; // #337ab7
//@brand-primary: #337ab7; // #337ab7
@brand-primary-border: #cccccc; // #2e6da4
//@brand-primary-border: #2e6da4; // #2e6da4
@link-color: @brand-primary;
@link-hover-color: #e6e6e6;
//@link-hover-color: #286090;
@link-hover-border-color: #cccccc;

.fired {
  //color: @gray-lighter;
  color: @gray-light;
}

.tag {
  //color: navy; /* Цвет текста */
  //font-family: monospace; /* Моношириный шрифт */
  //quotes: "<" ">"; /* Устанавливаем вид кавычек */
  text-decoration: underline;
  font-weight: 600;
}

//.tag:before {
//  content: open-quote; /* Добавляем перед текстом открывающую кавычку */
//}
//.tag:after {
//  content: close-quote; /* Добавляем после текста закрывающую кавычку */
//}
.sortOrder:after {
  content: '\25b2'; // BLACK UP-POINTING TRIANGLE
}

.sortOrder.reverse:after {
  content: '\25bc'; // BLACK DOWN-POINTING TRIANGLE
}

.animate-switch-container {
  position: relative;
  background: @gray-lighter;
  border: 1px solid @gray-light;
  height: 140px;
  overflow-y: auto;
}

.animate-switch {
  padding: 10px;
}

.animate-switch.ng-animate {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.animate-switch.ng-leave.ng-leave-active,
.animate-switch.ng-enter {
  top: -50px;
}

.animate-switch.ng-leave,
.animate-switch.ng-enter.ng-enter-active {
  top: 0;
}

ul.word {
  margin: 0; /* Обнуляем значение отступов */
  padding: 4px; /* Значение полей */
}

ul.word li {
  display: inline; /* Отображать как строчный элемент */
  margin-right: 5px; /* Отступ слева */
  //border: 1px solid #000; /* Рамка вокруг текста */
  padding: 3px; /* Поля вокруг текста */
}

.btn.not-border, .not-border {
  border: none;
}

.gravatarSm {
  line-height: 3.5;
}

.gravatarImage {
  width: 200px;
  margin: 30px auto 0px auto;
  display: block;
}

.brighten img {
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.brighten img:hover {
  -webkit-filter: sepia(100%);
}

.jumbotron.white {
  background: white;
}

.str {
  text-decoration: none; /* Убираем подчеркивание */
  /* Добавляем свою линию */
}

.sdv {
  margin-left: 26px;
}

.sdvig {
  margin-left: 10px;
}

.sort-my {
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
  margin-bottom: 25px;

  background: white;
}

.sort-my .srt:hover {
  cursor: pointer;
  color: #2196F3;
  border-bottom: 1px dashed #2196F3;
}

//#avatar {
//  float: left;
//  margin: 0 1em .5em 0;
//  border: 1px solid black;
//  text-align: center;
//  background: white;
//}
#avatar {
  background: white;
}

#avatar.fixed {
  position: fixed;
  top: 84px;
  left: 40px;
  right: 40px;
  background: #EFF0F1;
  z-index: 2;
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
}

#avatar.fixed-thead {
  position: absolute;
  top: 52px;
  background: #EFF0F1;
  z-index: 2;
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  width: inherit;
}

#avatar.fixed-thead th,
.table.m-left tr th {
  min-width: 120px;
  width: 100%;
}

#avatar td,
#avatar.fixed-thead td,
.table.m-left tr td:nth-child(1),
#avatar.fixed-thead td:nth-child(1),
.table.m-left > tbody > tr td {
  width: 48px;
  min-width: 48px;

}

#table-run.fixed {
  position: fixed;
  top: 100px;
  right: 20px;
  background: #ffffff;
  z-index: 2;
  -webkit-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 6px 19px -1px rgba(0, 0, 0, 0.2);
  //min-height: 100%;       /* Just for the demo          */
  //overflow-y: auto;    /* Trigger vertical scroll    */
  //overflow-x: hidden;  /* Hide the horizontal scroll */
}

//#table-run.fixed>.table>table>thead{ display:  inline-block; }
#table-run.fixed > .table > table > tbody {
  overflow-y: auto;
  overflow-x: hidden;
  height: 700px;
  display: table-caption;
}

.table.m-left {
  //margin-left: -15px;
  font-size: 12px;
  position: relative;
  left: -15px;
}

#search.fixed {
  position: fixed;
  top: 50px;
  left: 40px;
  right: 40px;
  background: #EFF0F1;
  z-index: 2;

}

#search.fixed > .form-control {
  border: none;
  border: 0;
}

.button {
  text-decoration: none;
  opacity: 0;
  position: fixed;
  color: white;
  font-size: 20px;
  visibility: hidden;
  text-align: center;
  transition: all 0.5s;
  background: hsl(210, 7%, 94%);
  border-radius: 70px;
  display: inline-block;
  right: 50px;
  bottom: 30px;
  width: 30px;
  height: 50px;
  z-index: 10000000000;
}

.button2 {
  text-decoration: none;
  opacity: 0;
  position: fixed;
  color: hsla(210, 7%, 74%, .5);
  font-size: 20px;
  visibility: hidden;
  text-align: center;
  transition: all 0.5s;
  background: hsla(210, 7%, 74%, .5);
  border-radius: 70px;
  display: inline-block;
  right: 77px;
  top: 100px;
  width: 30px;
  height: 30px;
  z-index: 10000000000;
}

.button:hover {
  text-decoration: none;
  color: white;
  background: #c1c1c1;
  z-index: 10000000000;
}

.button2:hover {
  text-decoration: none;
  color: hsla(210, 7%, 74%, 1);
  background: #fff;
  z-index: 10000000000;
  -webkit-box-shadow: -5px -5px 163px -1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -5px -5px 163px -1px rgba(0, 0, 0, 0.2);
  box-shadow: -5px -5px 163px -1px rgba(0, 0, 0, 0.2);
}

a.button2 {
  text-decoration: none;
}

.visible {
  visibility: visible;
  text-decoration: none;
  opacity: 1;
  background: hsla(210, 7%, 74%, .5);
}

.visible2 {
  visibility: visible;
  text-decoration: none;
  opacity: 1;
  background: #ffffff;
}

#container {
  font-size: 1.1em;
}

/* BuTTON FILE */

.file-upload input[type="file"] {
  display: none; /* скрываем input file */
}

/* задаем стили кнопки выбора файла*/
.file-upload {
  position: relative;
  overflow: hidden;
  padding: 5px 10px;
  //max-width: 40px;
  height: 40px;
  //color: #fff;
  text-align: center;
}

.file-upload span:hover {
  background: hsl(0, 0%, 96%);
  //border: 1px solid  @link-hover-border-color;
}

/* Растягиваем label на всю область блока .file-upload */
.file-upload label {
  display: block;
  //position: absolute;
  top: 0;
  left: 0;

  height: 100%;
  cursor: pointer;
  font-weight: lighter;
}

/* стиль текста на кнопке*/
.file-upload span {
  padding: 5px 12px;
  //border-radius: 4px;
  display: block;
  background: @brand-primary;
  //border: 1px solid  @brand-primary-border;

}

table.table.not-margin {
  margin: 0;
}

/* BuTTON FILE  END */

.delete-button {
  position: relative;
}

.delete-button > .delete-img {
  position: absolute;
  top: 35%;
  right: 30%;
  opacity: .4;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #fff;
}

.wdt {
  width: 270px
}

//table > thead#avatar.fixed-thead > tr > th:nth-child(1),table > thead#avatar > tr > th:nth-child(1){
//  border-right: 0;
//}
//table > thead#avatar.fixed-thead > tr > th:nth-child(2),table > thead#avatar > tr > th:nth-child(2){
//  border-left: 0;
//}
.red-color {
  color: red;
}

.event {
  position: absolute;
  width: 3px;
  height: 3px;
  border-radius: 150px;
  bottom: 3px;
  left: calc(50% - 1.5px);
  content: " ";
  display: block;
  background: #3d8eb9;
}

.event.celebration {
  bottom: 40px;
  content: "";
  background: white;
  left: calc(78.5%);
}

.event.busy {
  background: #f64747;
}

.event.busy.holiday {
  background: #12b90a;
}

.md-select-menu-container {
  z-index: 9000;
}

md-select.mr0 {
  margin: 0;
}

.photo {
  -moz-box-flex: 0;
  flex: 0 0 auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  box-sizing: content-box;
  //margin-right: 10px;
  //margin-top: 8px;
  //margin-bottom: 8px;
}

.photo.events {
  height: 56px;
  width: 56px;
}

.top-padding {
  padding-top: 2px;
}

.pagination > p {
  margin: 8px 15px;
}

.position {
  list-style-type: none;
  margin-left: 7px;
  padding: 0
}

//Dynamic Tabs

.UserModule md-content {
  background-color: transparent !important;
}

.UserModule md-content md-tabs {
  background: #f6f6f6;
  border: 1px solid #e1e1e1;
}

.UserModule md-content md-tabs md-tabs-wrapper {
  background: white;
}

.UserModule md-content h1:first-child {
  margin-top: 0;
}

.boxM {
  position: relative;

}

.boxM > .arrowM {
  position: absolute;
  top: -15px;
  left: -5px;
  display: block;
  height: 10px;
}

.boxM > .arrowR {
  position: absolute;
  top: -15px;
  right: -5px;
  display: block;
  height: 10px;
}

.chat {
  list-style: none;
  //.border-box();
  position: relative;
  padding-left: 35px;
  padding-right: 0;
  padding-bottom: 16px;
}

.chat-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50px;
  position: absolute;
  left: -5px;
  top: 1px;
}

.chat-avatar-comment {
  width: 27px;
  height: 27px;
  border-radius: 50px;
  position: absolute;
  left: -9px;
  top: 1px;
}

.fo {
  width: 330px;
}

.fo > .tabsdemoDynamicTabs md-content {

  background-color: transparent !important;
}

.tabsdemoDynamicTabs md-content md-tabs {
  border: 1px solid #e1e1e1;
}

.tabsdemoDynamicTabs md-content md-tabs md-tab-content {
  background: #f6f6f6;
}

.tabsdemoDynamicTabs md-content md-tabs md-tabs-wrapper {
  background: white;
}

.tabsdemoDynamicTabs md-content h1:first-child {
  margin-top: 0;
}

.tabsdemoDynamicTabs md-input-container {
  padding-bottom: 0;
}

.tabsdemoDynamicTabs .remove-tab {
  margin-bottom: 40px;
}

.tabsdemoDynamicTabs .demo-tab > div > div {
  padding: 25px;
  box-sizing: border-box;
}

.tabsdemoDynamicTabs .edit-form input {
  width: 100%;
}

.tabsdemoDynamicTabs md-tabs {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.tabsdemoDynamicTabs md-tab[disabled] {
  opacity: 0.5;
}

.tabsdemoDynamicTabs label {
  text-align: left;
}

.tabsdemoDynamicTabs .long > input {
  width: 264px;
}

.tabsdemoDynamicTabs .md-button.add-tab {
  transform: translateY(5px);
}

//.table.tus > tbody > tr > td{
//  line-height: 40px;
//}
md-checkbox .md-container {
  top: 8%;
}

.relavs {
  position: relative;
}

.dropdown-menu {
  padding: 0.1px 0;
}

.chat-window {
  position: relative;
  left: -35px;
}

.btn.not-border {
  border: none;
  background-image: none;
}

.animate-if {
  background: white;
  border: 0 solid black;
  // padding: 10px;
}

.animate-if.ng-enter, .animate-if.ng-leave {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity: 0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity: 1;
}

.clearfix {
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 10px;
}

.animate-switch-container {
  background: none;
}

.badge {
  padding: 3px;

}

.badge.hide {
  padding: 3px;
  display: none;

}

.badges-position {
  display: block;
  top: 11px;
  right: 21px;
  position: absolute;
  width: 5px;
  z-index: 10;
}

.badge.new {
  color: rgba(0, 0, 0, 0.38);
  padding: 3px 7px;
  background-color: #7777771c;
}

.badge.new.text-danger {
  color: rgb(245, 0, 87);
}

.panel-default.new {
  border: none;
}

.list-group-item.new {
  padding: 6px 15px;
  border: 1px dashed #ddd;
}

body[dir=rtl] .hint {
  right: 2px;
  left: auto;
}

//.list-group-item.new:last-child{
//  border-bottom: 1px dashed #ddd;
//}

//.badges-position-vacation {
//  display: block;
//  top: 11px;
//  right: 21px;
//  position: absolute;
//  width: 5px;
//  z-index: 10;
//}

//.dgt>.badges-position {
//  display: none;
//}

.progressLineardemoBasicUsage body {
  padding: 20px;
}

.progressLineardemoBasicUsage h4 {
  margin: 10px 0;
}

.progressLineardemoBasicUsage md-progress-linear {
  padding-top: 10px;
  margin-bottom: 20px;
}

.progressLineardemoBasicUsage #loaders > md-switch {
  margin: 0;
  margin-left: 10px;
  margin-top: -10px;
}

.progressLineardemoBasicUsage #loaders > h5 {
  margin-top: 0;
}

.progressLineardemoBasicUsage #loaders > p {
  margin-right: 20px;
  margin-bottom: 24px;
}

.progressLineardemoBasicUsage p.small {
  font-size: 0.8em;
  margin-top: -18px;
}

.progressLineardemoBasicUsage hr {
  width: 100%;
  margin-top: 20px;
  border-color: rgba(221, 221, 177, 0.1);
}

.progressLineardemoBasicUsage p.small > code {
  font-size: 0.8em;
}

.progressLineardemoBasicUsage .visible {
  opacity: 0;
  border: 2px solid white !important;
}

.progressLineardemoBasicUsage .container {
  display: block;
  position: relative;
  width: 100%;
  border: 2px solid #aad1f9;
  transition: opacity 0.1s linear;
  border-top: 0px;
}

.progressLineardemoBasicUsage .bottom-block {
  display: block;
  position: relative;
  background-color: rgba(255, 235, 169, 0.25);
  height: 85px;
  width: 100%;
}

.progressLineardemoBasicUsage .bottom-block > span {
  display: inline-block;
  margin-top: 10px;
  padding: 25px;
  font-size: 0.9em;
}

/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that can be foundin the LICENSE file at http://material.angularjs.org/HEAD/license.
*/

.danger {

  background-color: red;

}

.dialog {
  font-size: .9em;
  margin: 20px 2px;
}

.dialog .glyphicon {
  line-height: 2;
  top: 6px;
}

.dialog .list-group {
  margin-bottom: 0;
}

small.time, abbr.time {
  color: hsl(220, 6%, 59%);
}

textarea.myTextarea {
  max-width: inherit;
}

.chat-body {
  overflow: hidden;
}

.flatpickr-day.new {
  background-color: rgba(255, 220, 140, 0.35);
}

.pull-right.new {
  margin: 15px 15px 0 0;
}

md-switch {
  margin: 0;
}

md-switch .md-container {
  margin-right: 15px;
}

.inset {
  padding: 0 0 0 15px;
}

a.kadr-link {
  color: #abef98;
}

.sdv {
  margin-left: 24px;
}

md-checkbox.md-checked.green .md-icon {
  background-color: rgba(39, 146, 27, 0.75);
}

md-switch.md-default-theme.md-checked.green .md-bar, md-switch.md-checked.green .md-bar {
  background-color: rgba(92, 184, 91, 0.58);
}

//md-switch.md-default-theme.md-checked .md-thumb, md-switch.md-checked .md-thumb {
//  color: rgba(39, 146, 27, 0.75);
//}
md-switch.md-default-theme.md-checked.green .md-thumb, md-switch.md-checked.green .md-thumb {
  background-color: #5cb85b;
}

md-switch.md-default-theme.md-checked.green.ng-dirty, md-switch.md-checked.green.ng-dirty {
  background-color: transparent;
}

.window {
  position: absolute;
  top: 7px;
  z-index: 100;
  min-width: 600px;
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(68, 143, 238);
}

.md-button.md-default-theme.md-primary.md-fab, .md-button.md-primary.md-fab, .md-button.md-default-theme.md-primary.md-raised, .md-button.md-primary.md-raised {
  color: rgba(255, 255, 255, 0.87);
  background-color: rgb(98, 170, 249);
}

.text-gray {
  color: #aaaaaa;
}

.text-gray.action {
  color: #333333;
}

.ngdialog.ngdialog-theme-default .ngdialog-content {
  max-height: 600px;
  overflow-y: auto;
}

//**************  VALIDATION FORM ****************/

/* Правило для всех элементов, с которыми не взаимодействовал пользователь*/
//form .ng-pristine {
//  border: 1px dotted gray;
//}

/* Данное правило распространяется на все элементы с которыми взаимодействовал прользователь и которые не прошли проверку */
form .ng-invalid.ng-dirty {
  background-color: #fdf4f6;
}

/* Правило для всех элементов, которые прошли проверку после взаимодействия с пользователем */
form .ng-valid.ng-dirty {
  background-color: #f5ffef;
}

/* класс, который присваивает оформление для неправильно заполненных полей для email */
form .ng-invalid-email {
  color: #fd4c38;
}

/*
    Валидация происходит после каждого изменения в форме.
    Два следующих правила используются для элемента span в конце формы.
*/
span.summary.ng-invalid {
  color: #fdf4f6;
  font-weight: bold;
}

span.summary.ng-valid {
  color: #dff5d1;
}

.form-inline .form-group.pad {
  padding: 0 25px 17px 0;
}
.text-grey{
  color: #9a9a9a;
}
.xlsTab{
  font-size: 0.7em;
}
table.xlsTab.no-th-top > tbody > tr > th {
  border-top: none;
  font-size: 1.4em;
}

.drop-length{
  width: 100%;
  overflow: auto;
}

md-list-item.pad{
  min-height: 73px;
}
md-list-item.pad em{
  color: #9a9a9a;
}
//.chat-window {
//  .chat {
//    list-style: none;
//    .border-box();
//    position: relative;
//    padding-left: 35px;
//    padding-right: 0px;
//    padding-bottom: 16px;
//    .chat-avatar {
//      width: 27px;
//      height: 27px;
//      border-radius: 4px;
//      position: absolute;
//      left: 0px;
//      top: 4px;
//    }
//    .header {
//      .username {
//        font-size: 15px;
//        line-height: 16px;
//        vertical-align: top;
//        font-weight: 700;
//      }
//      small {
//        font-size: 11px;
//        line-height: 16px;
//        vertical-align: top;
//        position: relative;
//        color: @blue;
//      }
//    }
//    .message {
//      font-size: 14px;
//      vertical-align: top;
//      line-height: 16px;
//    }
//  }
//}
//.event.busy {
//  background: rgba(240, 155, 78, 0.23);
//}
//
//.event {
//  position: absolute;
//  width: 30px;
//  height: 30px;
//  /* border-radius: 150px; */
//  bottom: 3px;
//  left: calc(11.5%);
//  content: " ";
//  display: block;
//  background: rgba(61, 142, 185, 0.15);
//}
