<table class="table table-hover">
    <!-- H E A D E R  T A B L E  -->
    <tr>

        <!-- I N D E X -->
        <th>#</th>

        <!-- А В А Т А Р -->
        <!--<th class="text-center">-->
        <!--<span class="badge">{{filtered.length}}</span>-->
        <!--</th>-->

        <!-- F I O -->
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('name')">
                {{nameHeader.oneArea}}
                <span class="sortOrder" ng-show="propertyName === 'name'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- О Т Д Е Л -->
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('departments[0].name')">
                {{nameHeader.departmentArea}}
                <span class="sortOrder" ng-show="propertyName === 'departments[0].name'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- Д А Т А  В Ы Х О Д А  С О Т Р У Д Н И К А -->
        <th class="text-center">
            <button class="btn btn-sm btn-default not-border" ng-click="sortBy('start')">
                {{nameHeader.outputEmployee}}
                <span class="sortOrder" ng-show="propertyName === 'start'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!--&lt;!&ndash; C O U N T  D A T A S E A R C H  itemsUsers&ndash;&gt;-->
        <!--<th>-->
        <!--<button class="btn btn-sm btn-default  not-border" ng-click="sortBy('countData')">-->
        <!--{{nameHeader.nineArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'countData'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->
        <!--</th>-->

        <!--&lt;!&ndash; Y E A R &ndash;&gt;-->
        <!--<th class="text-center">-->
        <!--<button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('year')">-->
        <!--{{nameHeader.twoArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'year'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->
        <!--</th>-->


        <!-- S T A T U S -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default not-border" ng-click="sortBy('status')">
                {{nameHeader.threeArea}}
                <span class="sortOrder" ng-show="propertyName === 'status'" ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- Д А Т А  З А П У С К А  П Р О Е К Т А -->
        <th class="text-center">
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('start')">
                {{nameHeader.startProject}}
                <span class="sortOrder" ng-show="propertyName === 'start'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!--&lt;!&ndash; F R O M  &ndash;&gt;-->
        <!--<th class="text-center">-->
        <!--<button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('from')">-->
        <!--{{nameHeader.fourArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'from'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->
        <!--</th>-->

        <!--&lt;!&ndash; T O &ndash;&gt;-->
        <!--<th class="text-center">-->
        <!--<button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('to')">-->
        <!--{{nameHeader.fiveArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'to'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->
        <!--</th>-->

        <!-- К О Л-В О  Д Н Е Й -->
        <!--<th class="text-center">-->
        <!--<button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('daysSelectHoliday')">-->
        <!--{{nameHeader.sixArea}}-->
        <!--<span class="sortOrder" ng-show="propertyName === 'daysSelectHoliday'"-->
        <!--ng-class="{reverse: reverse}"></span>-->
        <!--</button>-->
        <!--</th>-->

        <!-- А К Т И В А Ц И Я -->
        <!--<th class="text-center">-->
            <!--<button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('action')">-->
                <!--{{nameHeader.actionArea}}-->
                <!--<span class="sortOrder" ng-show="propertyName === 'action'"-->
                      <!--ng-class="{reverse: reverse}"></span>-->
            <!--</button>-->
        <!--</th>-->


        <!-- К А Д Р Ы  Н А Ч А Т Ь  П Р О Ц Е Д У Р У -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('startKadr')">
                {{nameHeader.startKadrArea}}
                <span class="sortOrder" ng-show="propertyName === 'startKadr'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- Ф И Н О Т Д Е Л  В Ы П О Л Н Е Н О -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('finCheck')">
                {{nameHeader.finCheckArea}}
                <span class="sortOrder" ng-show="propertyName === 'finCheck'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- А Х О  В Ы П О Л Н Е Н О -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('ahoCheck')">
                {{nameHeader.ahoCheckArea}}
                <span class="sortOrder" ng-show="propertyName === 'ahoCheck'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- IT  В Ы П О Л Н Е Н О -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('itCheck')">
                {{nameHeader.itCheckArea}}
                <span class="sortOrder" ng-show="propertyName === 'itCheck'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- С О З Д А Л -->
        <th ng-if="!me.see" class="text-center">
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('whomCreated[0].lastName')">
                {{nameHeader.sevenArea}}
                <span class="sortOrder" ng-show="propertyName === 'whomCreated[0].lastName'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- О Б Н О В И Л -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('whomCreated[0].lastName')">
                {{nameHeader.eightArea}}
                <span class="sortOrder" ng-show="propertyName === 'whomCreated[0].lastName'"
                      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- C R E A T E -->
        <!--<th ng-if="me.admin" class="text-center ">-->
            <!--<button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('createdAt')">-->
                <!--{{nameHeader.createdAtArea}}  <span class="sortOrder" ng-show="propertyName === 'createdAt'"-->
                                                    <!--ng-class="{reverse: reverse}"></span>-->
            <!--</button>-->
        <!--</th>-->


        <!-- U P D A T E -->
        <th ng-if="me.admin" class="text-center">
            <button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('updatedAt')">
                {{nameHeader.updatedAtArea}}  <span class="sortOrder" ng-show="propertyName === 'updatedAt'"
                                                    ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th></th>
    </tr>

    <!-- B O D Y  T A B L E -->
    <!--| filter:{whomCreated:{id:me.id}}-->
    <tr ng-class="{'success':item.endKadr, 'danger':item.kadrValid}" ng-repeat="item in filtered=(items  | filter:{$:searchText} | filter:filterObject |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)" ng-cloak>

        <!-- I N D E X -->
        <td>
            {{$index+1}}
        </td>


        <!-- F I O -->
        <td class="text-nowrap">
            <a title="{{item.lastName}} {{item.firstName}} {{item.patronymicName}}" ui-sref="home.company.emergences.edit({emergenceId:item.id})">
                {{item.lastName}} {{item.firstName[0]}}. {{item.patronymicName[0]}}.
            </a>
        </td>


        <!-- Д Е П А Р Т А М Е Н Т  -->
        <td>
            {{item.departments[0].name }}
        </td>


        <!-- Д А Т А  В Ы Х О Д А  С О Т Р У Д Н И К А -->
        <td class="text-center">
            {{item.outputEmployee | date:"dd.MM.yyyy"}}
        </td>

        <!-- S T A T U S -->
        <td class="text-center ">
            <strong ng-click="item.goOpen()"
                    ng-class="{'text-primary':(item.status==='Новая'), 'text-warning':(item.status==='В работе'), 'text-success':(item.status==='Завершена'), 'text-danger':(item.status==='Отклонена'), }">
                {{item.status}}
                <md-tooltip ng-if="(item.status==='В работе' && !item.sendService)" md-direction="right">{{nameHeader.title}}</md-tooltip>
                <md-tooltip ng-if="(item.status==='В работе' && item.sendService)" md-direction="right">{{nameHeader.titleService}}</md-tooltip>
            </strong>

            <!--В  Р А Б О Т Е-->
            <div ng-if="item.logSender && item.go && (item.status==='В работе')" class="animate-if">
                <div class="row" style="position: relative">
                    <div class="col-md-12  text-nowrap window" >
                        <div class="panel panel-success">
                            <div class="panel-heading   text-left">
                                {{nameHeader.textHead}}
                                <a href="#" class="pull-right" ng-click="item.goClose()">x</a>
                            </div>
                            <div class="panel-body">
                                <table class="table table-hover">
                                    <tr ng-if="!item.sendService" ng-repeat="sender in item.logSender">
                                        <td class="text-left text-nowrap">
                                            <small class="text-info">{{sender.name}}</small>
                                        </td>
                                        <td class="text-left">
                                            <small>  {{sender.email}}</small>
                                        </td>
                                    </tr>

                                    <tr ng-if="item.sendService" ng-repeat="sender in item.recipientService">
                                        <td class="text-left text-nowrap">
                                            <small class="text-info">{{sender.name}}</small>
                                        </td>
                                        <td class="text-left">
                                            <small>  {{sender.email}}</small>
                                        </td>
                                    </tr>
                                </table>
                                <!--<dl ng-repeat="sender in item.logSender">-->
                                <!--<dt><span class="text-info">{{sender.lastName}} {{sender.firstName[0]}}.{{sender.patronymicName[0]}}.  </span></dt>-->
                                <!--<dd> <small>{{sender.positions[0].name}}</small> </dd>-->
                                <!--&lt;!&ndash;<dd>- <span class="glyphicon" ng-class="{'glyphicon-ok':sender.action, 'text-success':sender.action,}"></span></dd>&ndash;&gt;-->
                                <!--</dl>-->

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!--НОВАЯ-->
            <div ng-if="item.logSender && item.go && (item.status==='Новая')" class="animate-if">
                <h6>Рассылка:{{item.start | deadline}}</h6>
            </div>

            <!--ОТКЛОНЕНА-->

            <div ng-if="item.logSender && item.go && (item.status==='Отклонена')" class="animate-if">
                <span ng-if="(item.commentKadr.length <= 50)"><strong>Комментарий:</strong> <br>{{item.commentKadr}} </span>
                <div ng-if="(item.commentKadr.length > 50)" class="row" style="position: relative">
                    <div class="col-md-12  window" >

                        <div class="panel panel-success">
                            <div class="panel-heading   text-left">
                                Комментарий
                                <a href="#" class="pull-right" ng-click="item.goClose()">x</a>
                            </div>
                            <div class="panel-body ">
                                <span class="pull-left"> {{item.commentKadr}}</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </td>



        <!-- Д А Т А  З А П У С К А  П Р О Е К Т А -->
        <td class="text-center">
            {{item.start | date:"dd.MM.yyyy HH:mm"}}
        </td>


        <!-- К А Д Р Ы  Н А Ч А Т Ь  П Р О Ц Е Д У Р У -->
        <td class="text-center">
            <span ng-if="item.startKadr" title="{{nameHeader.checkKadr}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        </td>


        <!-- Ф И Н О Т Д Е Л  В Ы П О Л Н Е Н О -->
        <td class="text-center">
            <span ng-if="item.finCheck" title="{{nameHeader.check}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        </td>

        <!-- А Х О  В Ы П О Л Н Е Н О -->
        <td class="text-center">
            <span ng-if="item.ahoCheck" title="{{nameHeader.check}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        </td>

        <!-- IT  В Ы П О Л Н Е Н О -->
        <td class="text-center">
            <span ng-if="item.itCheck" title="{{nameHeader.check}}" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
        </td>


        <!-- С О З Д А Л -->
        <td ng-if="!me.see" class="text-center text-nowrap">
            {{item.whomCreated.lastName}} {{item.whomCreated.firstName[0]}} {{item.whomCreated.patronymicName[0]}}
        </td>


        <!-- О Б Н О В И Л -->
        <td class="text-center">
            {{item.whomUpdated.lastName}} {{item.whomUpdated.firstName[0]}} {{item.whomUpdated.patronymicName[0]}}
        </td>

        <!-- C R E A T E -->
        <!--<td ng-if="me.admin" class="text-center">-->
            <!--{{item.createdAt | date:"dd.MM.yyyy HH:mm:ss"}}-->
        <!--</td>-->

        <!-- U P D A T E -->
        <!--<td ng-if="me.admin" class="text-center">-->
            <!--{{item.updatedAt | date:"dd.MM.yyyy HH:mm:ss"}}-->
        <!--</td>-->


        <!-- B U T T O N -->
        <td class="btn-group-xs">
            <a ui-sref="home.company.emergence({emergenceId:item.id})" class="btn" ng-class="{'btn-link': !item.fired, ' btn-danger':item.fired}">
                <span class="glyphicon" ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"
              aria-hidden="true">  </span>
            </a>
        </td>
        <!--&lt;!&ndash; К О Н Т А К Т Ы &ndash;&gt;-->
        <!--<td width="250px" class="text-right">-->
        <!--{{item.getContact(fieldName)}}-->
        <!--</td>-->
        <!--<td>{{item.diff}}</td>-->
        <!--<td class="btn-group-xs">-->
        <!--&lt;!&ndash;<a ng-href="{{item.getShowUrl(item.id)}}" class="btn"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-class="{'btn-primary': !item.fired, ' btn-danger':item.fired}">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"&ndash;&gt;-->
        <!--&lt;!&ndash;aria-hidden="true"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ui-sref="admin.users.edit({userId:'588b46b6d20dd30c17b27f03'})">Users Edit</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ui-sref="admin.users.edit({userId:item.id})" class="btn btn-sm btn-warning">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ng-href="{{item.getEditUrl(item.id)}}" class="btn btn-warning">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</td>-->
        <!--<td class="btn-group-xs">-->
        <!--<a href="#">-->
        <!--<span ng-if="mode" ng-click="delete(item)" class="glyphicon glyphicon-trash"></span>-->
        <!--</a>-->
        <!--</td>-->
    </tr>
</table>



