<table class="table table-hover">
   <!-- H E A D E R  T A B L E  -->
    <tr>

        <!-- I N D E X -->
        <th>#</th>

        <!-- А В А Т А Р -->
        <th class="text-center">
            <span class="badge">{{filtered.length}}</span>
        </th>

        <!-- Ф И О -->
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('lastName')">
                {{nameHeader.fioArea}}
                <span class="sortOrder" ng-show="propertyName === 'lastName'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- К О М Н А Т А -->
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('room')">
                {{nameHeader.roomArea}}
                <span class="sortOrder" ng-show="propertyName === 'room'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- О Т Д Е Л -->
        <th>
            <button class="btn  btn-sm btn-default not-border" ng-click="sortBy('departments[0].name')">
               {{nameHeader.departmentArea}}
                    <span class="sortOrder" ng-show="propertyName === 'departments[0].name'" ng-class="{reverse: reverse}"></span>
            </button>
        </th>


        <!-- Д О Л Ж Н О С Т Ь -->
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('positions[0].name')">
                {{nameHeader.positionArea}}
                <span class="sortOrder" ng-show="propertyName === 'positions[0].name'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- E M A I L -->
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('email')">
                {{nameHeader.emailArea}}
                <span class="sortOrder" ng-show="propertyName === 'email'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- U P D A T E -->
        <th ng-if="me.admin" class="text-center">
            <button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('updatedAt')">
                {{nameHeader.updatedAtArea}}  <span class="sortOrder" ng-show="propertyName === 'updatedAt'"
                    ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <!-- К О Н Т А К Т Ы -->
        <th class="wdt">
            <div class="btn-group pull-right">
                <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('contacts')">
                    <span class="sortOrder" ng-show="propertyName === 'contacts'" ng-class="{reverse: reverse}"></span>
                    Контакты: {{fieldName}}
                </button>
                <button type="button" class="btn btn-sm btn-default  not-border dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Контакты: {{fieldName}}</span>
                </button>
                <ul class="dropdown-menu">
                    <!--<li><a href="#" ng-click="fieldName='Email'">Email</a></li>-->
                    <li><a href="#" ng-click="fieldName='Мобильный'">Мобильный</a></li>
                    <li><a href="#" ng-click="fieldName='Телефон'">Телефон</a></li>
                    <li><a href="#" ng-click="fieldName='Внутренний телефон'">Внутренний телефон</a></li>
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                </ul>
            </div>
        </th>
    </tr>

    <!-- B O D Y  T A B L E -->
    <tr ng-repeat="item in filtered=(items | filter:{$:searchText} | filter:filterObject |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)" ng-cloak>

        <!-- I N D E X -->
        <td>
            {{$index+1}}
        </td>

        <!-- А В А Т А Р -->
        <td>
            <!--<img class="photo" ng-class="{photoSize:vid}" ng-mouseover="vid=true" ng-mouseleave="vid=false" ng-src="{{item.avatarUrl}}" alt=""></td>-->
            <img ng-if="item.avatarUrl" alt="{{ item.getFullName() }}" ng-src="{{ item.avatarUrl }}" class="photo"/>
            <img ng-if="!item.avatarUrl" title="фото отсутствует" src="http://placehold.it/40x40/E7E7E7/E7E7E7/&text=Нет" class="photo"/>
        </td>

        <!-- Ф И О -->
        <td>
            <a  href="{{item.getEditUrl(item.id)}}">
                {{item.getFullName()}}
            </a>
        </td>

        <!-- К О М Н А Т А -->
        <td class="text-center">
            {{item.room}}
        </td>

        <!-- О Т Д Е Л -->
        <td>
            <ul class="position" ng-controller="ListDepartmentController"
                ng-repeat="subdivision in item.subdivision | filter:{$:searchText}">
                <li style="list-style-type: none; margin: 0; padding: 0"
                    ng-repeat="option in items | filter:{$:searchText,id:subdivision.id}">
                    {{option.name}}
                </li>
            </ul>
        </td>

        <!-- Д О Л Ж Н О С Т Ь -->
        <td>
            <ul class="position" ng-controller="ListPositionController"
                ng-repeat="position in item.positions">
                <li style="list-style-type: none" ng-repeat="option in items | filter:position.id">
                    {{option.name}}
                </li>
            </ul>
        </td>

        <!-- E M A I L -->
        <td>
            <a class="position" href="mailto:{{item.email}}">{{item.email}}</a>
        </td>

        <!-- U P D A T E -->
        <td ng-if="me.admin" class="text-center">
            {{item.updatedAt | date:"dd.MM.yyyy HH:mm:ss"}}
        </td>


        <!-- К О Н Т А К Т Ы -->
        <td width="250px" class="text-right">
            {{item.getContact(fieldName)}}
        </td>
        <!--<td>{{item.diff}}</td>-->
        <!--<td class="btn-group-xs">-->
        <!--&lt;!&ndash;<a ng-href="{{item.getShowUrl(item.id)}}" class="btn"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-class="{'btn-primary': !item.fired, ' btn-danger':item.fired}">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon"&ndash;&gt;-->
        <!--&lt;!&ndash;ng-class="{'glyphicon-eye-open': !item.fired, 'glyphicon-eye-close':item.fired}"&ndash;&gt;-->
        <!--&lt;!&ndash;aria-hidden="true"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ui-sref="admin.users.edit({userId:'588b46b6d20dd30c17b27f03'})">Users Edit</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ui-sref="admin.users.edit({userId:item.id})" class="btn btn-sm btn-warning">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--&lt;!&ndash;<a ng-href="{{item.getEditUrl(item.id)}}" class="btn btn-warning">&ndash;&gt;-->
        <!--&lt;!&ndash;<span class="glyphicon glyphicon-pencil"></span>&ndash;&gt;-->
        <!--&lt;!&ndash;</a>&ndash;&gt;-->
        <!--</td>-->
        <!--<td class="btn-group-xs">-->
        <!--<a href="#">-->
        <!--<span ng-if="mode" ng-click="delete(item)" class="glyphicon glyphicon-trash"></span>-->
        <!--</a>-->
        <!--</td>-->
    </tr>
</table>


