<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText, fired:false} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>

<table class="table table-hover">
    <tr>
        <th>#</th>
        <th></th>
        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('owner.lastName')">
                {{lastNameArea}}
<span class="sortOrder" ng-show="propertyName === 'owner.lastName'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <th>
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('name')">
                {{fioArea}}
<span class="sortOrder" ng-show="propertyName === 'name'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th class="text-center">
            <button class="btn btn-sm btn-default  not-border" ng-click="sortBy('daysSelectHoliday')">
                {{daysSelectHolidayArea}}
<span class="sortOrder" ng-show="propertyName === 'daysSelectHoliday'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('tip')">
                {{tipArea}}
<span class="sortOrder" ng-show="propertyName === 'tip'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th>
            <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('status')">
                {{statusArea}}
<span class="sortOrder" ng-show="propertyName === 'status'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th class="text-center">
            <button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('createdAt')">
                {{createdAt}}
<span class="sortOrder" ng-show="propertyName === 'createdAt'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th ng-if="me.admin" class="text-center">
            <button class="btn  btn-sm btn-default  not-border " ng-click="sortBy('updatedAt')">
                {{updatedAt}}
<span class="sortOrder" ng-show="propertyName === 'updatedAt'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>
        <th ng-if="me.admin">
            <button class="btn  btn-sm btn-default not-border" ng-click="sortBy('whomCreated')">
                {{whomCreatedArea}}
<span class="sortOrder" ng-show="propertyName === 'whomCreated'"
      ng-class="{reverse: reverse}"></span>
            </button>

        </th>
        <th ng-if="me.admin">
            <button class="btn  btn-sm btn-default not-border" ng-click="sortBy('whomUpdated')">
                {{whomUpdatedArea}}
<span class="sortOrder" ng-show="propertyName === 'whomUpdatedArea'"
      ng-class="{reverse: reverse}"></span>
            </button>
        </th>

        <th class="wdt">
            <div class="btn-group pull-right">
                <button class="btn  btn-sm btn-default  not-border" ng-click="sortBy('contacts')">
                    <span class="sortOrder" ng-show="propertyName === 'contacts'" ng-class="{reverse: reverse}"></span>
                    Контакты: {{fieldName}}
                </button>
                <button type="button" class="btn btn-sm btn-default  not-border dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                    <span class="sr-only">Контакты: {{fieldName}}</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a href="#" ng-click="fieldName='Мобильный'">Мобильный</a></li>
                    <li><a href="#" ng-click="fieldName='Телефон'">Телефон</a></li>
                    <li><a href="#" ng-click="fieldName='Внутренний телефон'">Внутренний телефон</a></li>
                </ul>
            </div>
        </th>
    </tr>
    <tr ng-repeat="item in filtered=(items | filter:{$:searchText, action:true} |
orderBy:propertyName:reverse | skipItems: ((currentPage-1)*defaultRows)| limitTo: defaultRows)">
        <td>{{$index+1}}</td>
        <td><img class="photo" ng-class="{photoSize:vid}" ng-mouseover="vid=true" ng-mouseleave="vid=false" ng-src="{{item.avatarUrl}}"
                 alt=""></td>
        <td>
            <a href="/admin/users/edit/{{item.owner.id}}">
                {{item.owner.lastName}}
            </a>
        </td>
        <td>
            <a href="{{item.getEditUrl(item.id)}}">
                {{item.name}}
            </a>
        </td>
        <td class="text-center">{{item.daysSelectHoliday}}</td>
        <td>{{item.tip}}</td>
        <td>{{item.status}}</td>
        <td class="text-center">{{item.createdAt |date:'dd.MM.yyyy H:mm:ss'}}</td>
        <td ng-if="me.admin" class="text-center">{{item.updatedAt |date:'dd.MM.yyyy H:mm:ss'}}</td>
        <td ng-if="me.admin">{{item.whomCreated}}</td>
        <td ng-if="me.admin">{{item.whomUpdated}}</td>

        <td width="250px" class="text-right">{{item.getContact(fieldName)}}</td>
    </tr>
</table>

<pagination
        limit-rows="limitRows"
        default-rows="defaultRows"
        length-object="(items | filter:{$:searchText, fired:false} ).length"
        current-page="currentPage"
        added="added"
        show-bt="showBt"
        url-bt="urlBt"
        on-select-page="selectCount=selectCount+1">
</pagination>