<div class="dialog">
    <div class="list-group" ng-repeat="bg in bdgs">
        <a type="button" ui-sref="home.admin.vacations.edit({ vacationId: bg.badges[0].id })" class="list-group-item">
            <span class="pull-right">
                <span class="glyphicon" aria-hidden="true" title="{{bg.action}}"
                  ng-class="{'glyphicon-pencil':(bg.action==='обновлён'),'glyphicon-envelope':(bg.action==='рассылка закончена'),'glyphicon-ok':(bg.action==='создан'),'glyphicon-trash':(bg.action==='удалён'),'text-danger':(bg.action==='удалён'),'text-success':(bg.action==='создан'),'text-primary':(bg.action==='обновлён')}"></span>
            </span>
            <img ng-if="bg.avatarUrl" ng-src="{{bg.avatarUrl}}" alt="{{bg.shortName}}" title="{{bg.shortName}}" class="photo"> &nbsp;   {{bg.badges[0].name}} | {{bg.badges[0].updatedAt| date: 'dd.MM.yyyy HH:mm:ss'}}
        </a>
    </div>

    <!--<div class="clearfix">-->
        <!--<button class="btn btn-link pull-right " ui-sref="home.admin.schedules">Перейти</button>-->
    <!--</div>-->

</div>