
    <div class="col-md-12" ng-repeat="item in items | filter :{id:me.id}">

        <!-- С О Г Л А С У Ю Щ И Е -->

        <div ng-if="item.matchings.length" class="panel panel-default">
            <div class="panel-heading"><h4>Согласующие</h4></div>
            <div class="panel-body" ng-repeat="match in item.matchings | filter:{fired:false}">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="{{item.getEditUrl(match.id)}}">
                            <img class="media-object" style="width: 32px; height: 32px;"
                                 ng-src="{{match.avatarUrl}}"
                                 data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{match.lastName}} </h5>
                        <!--bla-bla-bla-->
                    </div>
                </div>
            </div>
        </div>


        <!-- О П О В Е Щ А Е М Ы Е -->

        <div ng-if="item.announced.length" class="panel panel-default">
            <div class="panel-heading"><h4>Оповещаемые</h4></div>
            <div class="panel-body" ng-repeat="anno in item.announced | filter:{fired:false}">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="{{item.getEditUrl(anno.id)}}">
                            <img class="media-object" style="width: 32px; height: 32px;"
                                 ng-src="{{anno.avatarUrl}}"
                                 data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{anno.lastName}} </h5>
                        <!--bla-bla-bla-->
                    </div>
                </div>
            </div>
        </div>


        <!-- П Е Р Е С Е Ч Е Н И Я -->

        <div ng-if="item.intersections.length" class="panel panel-default">
            <div class="panel-heading"><h4>Пересечения</h4></div>
            <div class="panel-body" ng-repeat="inter in item.intersections| filter:{fired:false}">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="{{item.getEditUrl(inter.id)}}">
                            <img class="media-object" style="width: 32px; height: 32px;"
                                 ng-src="{{inter.avatarUrl}}"
                                 data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{inter.lastName}} </h5>
                        <!--bla-bla-bla-->
                    </div>
                </div>
            </div>
        </div>

        <!-- Я  С О Г Л А С У Ю Щ И Й -->

        <div ng-if="item.iagree.length" class="panel panel-default">
            <div class="panel-heading"><h4>Я согласующий</h4></div>
            <div class="panel-body" ng-repeat="iag in item.iagree| filter:{fired:false}">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="{{item.getEditUrl(iag.id)}}">
                            <img class="media-object" style="width: 32px; height: 32px;"
                                 ng-src="{{iag.avatarUrl}}"
                                 data-holder-rendered="true">
                        </a>
                    </div>
                    <div class="media-body">
                        <h5 class="media-heading">{{iag.lastName}} </h5>
                        <!--bla-bla-bla-->
                    </div>
                </div>
            </div>
        </div>
    </div>

