<div class="col-sm-11  col-md-12  main" ng-cloak>
    <div class="page-header">
        <h2>
            <p ng-if="item.lastName " ng-class="{'fired':item.fired}">{{item.getFullName()}} <span
                    ng-if="!item.action && me.admin">{{item.deactivation()}}</span>
            </p>
            <p ng-if="!item.lastName">{{item.getNewEmployees()}}</p>
            <a href="#" class="btn btn-xs disabled"
               ng-class="{'btn-primary':(item.status==='Новая'), 'btn-warning':(item.status==='В работе'), 'btn-success':(item.status==='Утвержден')}"
               ng-hide="item.fired" role="button">
                {{item.status}}
            </a>

            <!--<a href="#" class="btn btn-primary btn-xs disabled" ng-hide="item.fired" role="button">-->
            <!--Собрано данных: 0 из {{item.countData }}</a>-->


            <!--<a href="#" class="btn btn-info btn-xs " ng-if="item.decree"  title="Отпуск по уходу за ребёнком c {{item.decree|date:'dd.MM.yyyy'}}"> В отпуске </a>-->
            <a href="#" class="btn btn-danger btn-xs disabled" ng-show="item.fired" role="button">сотрудник уволен
                {{item.firedDate |
                date:'dd.MM.yyyy'}}</a>


            <div class="btn-group-xs pull-right">
                <button ng-disabled="!item.start" class="btn btn-primary btn-md " type="button" ng-click="toOpen()">
                    <span class="glyphicon glyphicon-list-alt"></span> {{item.nameLinkFn()}}
                </button>
                <button ng-show="edit" ng-click="saveEdit(item)" type="button" class="btn btn-success">
                    <span class="glyphicon glyphicon-check"></span> Сохранить

                </button>
                <a ng-href="{{item.getListUrl()}}" type="button" class="btn btn-warning">
                    <span class="glyphicon glyphicon-list"></span> Список
                </a>
            </div>

        </h2>
    </div>
    <div class="row">
        <div ng-class="{'col-md-6':close, 'col-md-12':!close, 'fx-fade-left':!close, 'fx-fade-right':close}" ng-cloak>


            <!-- E D I T / C R E A T E  F O R M -->

            <div class="panel" ng-class="{'panel-warning':item.action, 'panel-default':!item.action}">
                <div class="panel-heading">
                    <h3 class="panel-title">Редактировать
                        <!--<a href="#" class="pull-right">-->
                        <!--<span class="glyphicon" ng-class="{'glyphicon-menu-right':close,'glyphicon-menu-left':!close}"></span>-->
                        <!--</a>-->
                    </h3>
                </div>
                <div class="panel-body">
                    <form name="userForm" novalidate ng-submit="saveEdit(item)" enctype="multipart/form-data">


                        <!-- A C T I O N -->

                        <div class="form-group">
                            <div ng-if="(me.admin || me.kadr)" class="checkbox">
                                <label>
                                    <!--<input type="checkbox" ng-if="((item.status ==='Новая') || me.admin)" ng-model="item.action">-->
                                    <!--<input type="checkbox" ng-if="(item.status !=='Новая' && !me.admin)" disabled ng-model="item.action">-->

                                    <md-switch ng-model="item.action" aria-label="Switch 1">
                                        <span ng-if="item.action">Активность</span>
                                        <span ng-if="!item.action">Не активен</span>
                                    </md-switch>

                                </label>
                            </div>


                            <!-- Y E A R -->

                            <!--<label class="control-label" for="inputSuccess1">Год</label>-->
                            <!--&lt;!&ndash;<input  type="text" class="form-control" ng-model="item.lastName">&ndash;&gt;-->
                            <!--<input ng-if="!edit" autofocus required type="number" min="{{minYear()}}" max="2030" ng-change="fixYear()"-->
                            <!--class="form-control"-->
                            <!--ng-model="item.year">-->
                            <!--<input ng-if="edit" autofocus required min="{{minYear()}}" max="2030" ng-init="getYear()" ng-change="fixYear()"-->
                            <!--type="number" class="form-control" ng-model="item.year">-->
                            <!--&lt;!&ndash;<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>&ndash;&gt;-->
                        </div>


                        <!-- F I O -->

                        <div class="form-group">
                            <label class="control-label">ФИО</label>
                            <p> {{item.lastName}} {{item.firstName}} {{item.patronymicName}} </p>
                            <!--<input type="text"  class="form-control" required ng-model="item.getFullName()">-->
                        </div>

                        <!-- L A S T  N A M E -->

                        <div class="form-group">
                            <label class="control-label">Фамилия</label>
                            <input ng-disabled="edit" type="text" class="form-control" required ng-model="item.lastName">
                        </div>


                        <!-- F I R S T  N A M E -->

                        <div class="form-group">
                            <label class="control-label">Имя</label>
                            <input ng-disabled="edit" type="text" class="form-control" required ng-model="item.firstName">
                        </div>


                        <!-- P A T R O N Y M I C  N A M E -->

                        <div class="form-group">
                            <label class="control-label">Отчество</label>
                            <input ng-disabled="edit" type="text" class="form-control" required ng-model="item.patronymicName">
                        </div>

                        <!-- Д А Т А  В Ы Х О Д А  С О Т Р У Д Н И К А -->

                        <div class="form-group">
                            <label class="control-label">
                                Дата выхода сотрудника
                            </label>
                            <div class="input-group">
                                <input ng-disabled="edit" type="text" required ng-bind="parseExpression2()" class="form-control flatpickr"
                                       ng-flatpickr
                                       fp-opts="dateOpts"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.outputEmployee">
                                <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span-->
                                <!--class="glyphicon glyphicon-remove"></span></button>-->
                                <!--</span>-->
                            </div>
                        </div>


                        <!-- ЧЕРЕЗ СКОЛЬКО МИНУТ ПОСЛЕ СОХРАНЕНИЯ ЗАПУСТИТЬ ПРОЕКТ -->

                        <div class="form-group">
                            <label class="control-label">
                                Запуск через (мин)
                            </label>
                            <div class="input-group">
                                <input type="number" class="form-control" ng-model="item.via">
                            </div>
                        </div>

                        <!-- З А П У С К  П Р О Е К Т А -->

                        <div class="form-group" ng-if="!item.via>0">
                            <label class="control-label">
                                Запуск проекта
                            </label>
                            <div class="input-group">
                                <input type="text" ng-bind="parseExpression()" class="form-control flatpickr"
                                       ng-flatpickr
                                       fp-opts="dateOpts2"
                                       fp-on-setup="toggleBlur(item)"
                                       ng-model="item.start">
                                <!--<span class="input-group-btn">-->
                                <!--<button class="btn btn-default" type="button" ng-click="removeBirthday(item)"><span-->
                                <!--class="glyphicon glyphicon-remove"></span></button>-->
                                <!--</span>-->
                            </div>
                        </div>


                        <!--  E D I T   D E P A R T M E N T S  C O N T R O L L E R -->


                        <div ng-controller="ListDepartmentController" class="form-group ">
                            <label class="control-label" for="inputSuccess8" ng-bind="items[0].sc()"></label>
                            <span ng-if="!item.departments.length>0">[ <a href="#" ng-click="addSubdivision()">добавить</a> ]</span>
                            <div class="form-inline" ng-repeat="department in item.departments">
                                <div class="form-group">
                                    <select class="form-control" ng-disabled="edit" required ng-model="department.id">
                                        <option ng-repeat="option in items| filter:{action:true}" value="{{option.id}}">{{option.name}}
                                        </option>
                                    </select>
                                </div>

                                <button type="button" class="btn btn-default" ng-click="removeSubdivision(department)">x</button>
                            </div>
                            <!--<pre id="default-spacing">{{items | json}}</pre>-->
                            <!--<pre>D E P A R T M E N T S : {{items | limitTo:5 | json}}</pre>-->
                        </div>


                        <!--< N E W  P O S I T I O N -->


                        <!--<div ng-controller="ListPositionController" class="form-group ">-->
                        <!--<label class="control-label" ng-bind="items[0].sc()"></label>-->
                        <!--<span ng-if="!item.positions.length>0">[ <a href="#" ng-click="addPosition()">добавить</a> ]</span>-->
                        <!--<div class="form-inline" ng-repeat="position in item.positions">-->
                        <!--<div class="form-group">-->
                        <!--<select class="form-control" ng-model="position.id">-->
                        <!--<option ng-repeat="option in items | filter:{action:true}" value="{{option.id}}">{{option.name}}-->
                        <!--</option>-->
                        <!--</select>-->
                        <!--</div>-->
                        <!--<button type="button" class="btn btn-default" ng-click="removePosition(position)">x</button>-->
                        <!--</div>-->
                        <!--&lt;!&ndash;<pre>P O S I T I O N S : {{items | limitTo:5 | json }}</pre>&ndash;&gt;-->
                        <!--</div>-->


                        <!-- О Т Д Е Л -->
                        <!--<div class="form-group">-->
                        <!--<ul class="position" ng-controller="ListDepartmentController"-->
                        <!--ng-repeat="subdivision in item.subdivision | filter:{$:searchText}">-->
                        <!--<li style="list-style-type: none; margin: 0; padding: 0"-->
                        <!--ng-repeat="option in items | filter:{$:searchText,id:subdivision.id}">-->
                        <!--{{option.name}}-->
                        <!--</li>-->
                        <!--</ul>-->
                        <!--</div>-->

                        <!-- Д О Л Ж Н О С Т Ь -->
                        <div class="form-group">
                            <label class="control-label">Должность</label>
                            <input ng-disabled="edit" type="text" class="form-control" required ng-model="item.post">
                        </div>


                        <!-- B O S S -->

                        <div class="form-group">
                            <label class="control-label">Руководитель</label>
                            <input ng-disabled="edit" type="text" class="form-control" required ng-model="item.boss">
                        </div>


                        <!-- L O C A T I O N -->

                        <div class="form-group">
                            <label class="control-label">Местоположение</label>

                            <select class="form-control" ng-disabled="edit" name="repeatSelect" ng-model="item.location">
                                <option ng-repeat="option in locations.availableOptions" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>


                        <!-- К О М Н А Т А -->

                        <div class="form-group">
                            <label class="control-label">Комната</label>
                            <input ng-disabled="edit" type="text" class="form-control" ng-model="item.room">
                        </div>


                        <!-- Д О П О Л Н И Т Е Л Ь Н О -->

                        <div class="form-group">
                            <label class="control-label">Дополнительное требование к рабочему месту</label>
                            <textarea class="form-control" ng-disabled="edit" ng-model="item.extra"></textarea>
                        </div>


                        <!-- D A X -->

                        <div class="form-group">
                            <label class="control-label">Права в DAX</label>

                            <select class="form-control" ng-disabled="edit" name="repeatSelect" ng-model="item.dax">
                                <option ng-repeat="option in daxs.availableOptions" value="{{option.id}}">{{option.name}}</option>
                            </select>
                        </div>


                        <!-- P H O N E -->

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <md-switch ng-disabled="edit" ng-model="item.phone" aria-label="Switch 1">
                                        <span ng-if="!item.phone">Телефон не нужен</span>
                                        <span ng-if="item.phone">Телефон нужен</span>
                                    </md-switch>
                                </label>
                            </div>
                        </div>


                        <!-- R E M O T E  A C C E S S -->

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <md-switch ng-disabled="edit" ng-model="item.remote" aria-label="Switch 2">
                                        <span ng-if="!item.remote">Удалённый доступ не нужен</span>
                                        <span ng-if="item.remote">Удалённый доступ нужен</span>
                                    </md-switch>
                                </label>
                            </div>
                        </div>


                        <!-- M O B I L E -->

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <md-switch ng-disabled="edit" ng-model="item.mobile" aria-label="Switch 3">
                                        <span ng-if="!item.mobile">Мобильный не нужен</span>
                                        <span ng-if="item.mobile">Мобильный нужен</span>
                                    </md-switch>
                                </label>
                            </div>
                        </div>


                        <!-- B U S S I N E S  C A R D -->

                        <div class="form-group">
                            <div class="checkbox">
                                <label>
                                    <md-switch ng-disabled="edit" ng-model="item.bussinescard" aria-label="Switch 4">
                                        <span ng-if="!item.bussinescard">Визитки не нужны</span>
                                        <span ng-if="item.bussinescard">Визитки нужны</span>
                                    </md-switch>
                                </label>
                            </div>
                        </div>


                        <!-- К А Д Р Ы  Н А Ч А Т Ь  О Б Р А Б О Т К У -->

                        <div class="panel panel-default"
                             ng-class="{ 'panel-success':item.endKadr,'panel-primary':item.startKadr, 'panel-danger': item.kadrValid }">
                            <div class="panel-heading"> Кадры</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">

                                        <label>
                                            <md-switch ng-model="item.startKadr" aria-label="Switch 4">
                                                <span ng-if="!item.startKadr">{{titles.startKadr}} нет</span>
                                                <span ng-if="item.startKadr">{{titles.startKadr}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>


                                <!-- К А Д Р Ы  О Т К Л О Н И Т Ь  З А Я В К У -->

                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <md-switch ng-model="item.kadrValid" aria-label="Switch 4">
                                                <span ng-if="!item.kadrValid">{{titles.kadrValid}} нет</span>
                                                <span ng-if="item.kadrValid">{{titles.kadrValid}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>

                                <!-- К А Д Р Ы  К О М М Е Н Т А Р И И -->
                                <div class="form-group">
                                    <label class="control-label">Кадры. Комментарии</label>
                                    <textarea class="form-control sdv"  ng-disabled="!edit" ng-model="item.commentKadr"></textarea>
                                </div>

                                <!-- К А Д Р Ы  О Б Р А Б О Т К А  З А В Е Р Ш Е Н А  -->
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <md-switch ng-model="item.endKadr" aria-label="Switch 4">
                                                <span ng-if="!item.endKadr">{{titles.endKadr}} нет</span>
                                                <span ng-if="item.endKadr">{{titles.endKadr}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Ф И Н О Т Д Е Л  В Ы П О Л Н Е Н О   -->

                        <div class="panel panel-default" ng-class="{'panel-success':item.finCheck}">
                            <div class="panel-heading"> Финансовый отдел</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <md-switch ng-disabled="item.kadrValid" ng-model="item.finCheck" aria-label="Switch 4">
                                                <span ng-if="!item.finCheck">{{titles.check}} нет</span>
                                                <span ng-if="item.finCheck">{{titles.check}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- А Х О  В Ы П О Л Н Е Н О   -->

                        <div class="panel panel-default" ng-class="{'panel-success':item.ahoCheck}">
                            <div class="panel-heading">АХО</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <md-switch ng-disabled="item.kadrValid" ng-model="item.ahoCheck" aria-label="Switch 4">
                                                <span ng-if="!item.ahoCheck">{{titles.check}} нет</span>
                                                <span ng-if="item.ahoCheck">{{titles.check}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- IT  В Ы П О Л Н Е Н О   -->

                        <div class="panel panel-default" ng-class="{'panel-success':item.itCheck}">
                            <div class="panel-heading">IT</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <md-switch ng-disabled="item.kadrValid" ng-model="item.itCheck" aria-label="Switch 4">
                                                <span ng-if="!item.itCheck">{{titles.check}} нет</span>
                                                <span ng-if="item.itCheck">{{titles.check}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- H E L P - D E S K  В Ы П О Л Н Е Н О   -->

                        <div class="panel panel-default" ng-class="{'panel-success':item.hdCheck}">
                            <div class="panel-heading">Help-Desk</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <md-switch ng-disabled="item.kadrValid" ng-model="item.hdCheck" aria-label="Switch 4">
                                                <span ng-if="!item.hdCheck">{{titles.check}} нет</span>
                                                <span ng-if="item.hdCheck">{{titles.check}} да</span>
                                            </md-switch>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- С О З Д А Н О   -->

                        <div class="panel panel-default" ng-class="{'panel-success':(item.email && item.phoneNumber)}">
                            <div class="panel-heading">Созданы ресурсы</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input ng-disabled="!edit" type="email" class="form-control" ng-model="item.email">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Телефон</label>
                                    <input ng-disabled="!edit" type="text" class="form-control" ng-model="item.phoneNumber">
                                </div>
                            </div>
                        </div>


                        <!-- S T A T U S -->

                        <div class="form-group col-md-3">
                            <label class="control-label" for="inputSuccess3">
                                Статус
                            </label>
                            <input type="text" ng-disabled="true" class="form-control" required ng-model="item.status">
                        </div>


                        <!-- C O L L E C T E D  D A T A -->

                        <div class="form-group" ng-if="checkStatus()" ng-controller="ListController">
                            <label class="control-label" for="inputSuccess3">
                                Собрано данных
                            </label>
                            <!--<br> 0 из {{(items | filter :{fired:false}).length}}-->
                            <div class="form-inline">
                                <div class="form-group">
                                    <span style="margin:0 20px;"> {{sumDays}} </span> из
                                    <input type="number" ng-disabled="true" class="form-control not-border"
                                           ng-bind="item.countData=(items | filter :{fired:false}).length"
                                           ng-model="item.countData">
                                </div>
                            </div>
                        </div>


                        <div ng-if="(me.admin && item.id)" class="row">
                            <div class="col-md-5">
                                <div class="form-group ">
                                    <div class="form-group ">
                                        <label class="control-label" for="inputSuccess18">
                                            Зарегистрирован в системе
                                        </label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-saved':item.createdAt}"
                                           aria-hidden="true"></span>
                                            {{item.getCreatedAt() | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7">
                                <div class="form-group ">
                                    <div class="form-group " ng-if="item.updatedAt">
                                        <label class="control-label" for="inputSuccess18">Последнее обновление</label>
                                        <div><a href="#" class="btn btn-default  disabled" role="button">
                                     <span class="glyphicon " ng-class="{ 'glyphicon-ok':item.updatedAt}"
                                           aria-hidden="true"></span>
                                            {{item.updatedAt | date:'dd.MM.yyyy HH:mm'}}
                                        </a></div>
                                        <!--<span id="helpBlock4" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<div class="form-group" style=" position: fixed;margin-left: 50px; margin-bottom: 70px; bottom:0; left:0;">-->
                            <button ng-show="!edit" type="submit" ng-disabled="userForm.$invalid"
                                    class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-user"></span>
                                Сохранить
                            </button>

                            <button ng-show="edit" type="submit" ng-disabled="userForm.$invalid"
                                    class="btn btn-md btn-success">
                                <span class="glyphicon glyphicon-check"></span>
                                Сохранить
                            </button>
                            <a ng-if="me.admin" ng-href="{{item.getListUrl()}}" class="btn btn-md btn-warning">
                                <span class="glyphicon glyphicon-list"> </span>
                                Список
                            </a>
                            <!--<button ng-if="!item.id" ng-click="revert()" ng-disabled="!canRevert()" class="btn btn-md btn-primary">-->
                            <!--<span class="glyphicon glyphicon-erase"> </span>-->
                            <!--Очистить-->
                            <!--</button>-->


                            <!--<button ng-if="item.id" ui-sref="home.admin.users.edit(data.id)"-->
                            <!--class="btn btn-default btn-md pull-right" role="button">-->
                            <!--<span class="glyphicon glyphicon-trash"></span>-->
                            <!--</button>-->

                        </div>
                    </form>
                    <button ng-show="me.admin" ng-if="!item.action && edit" ng-click="delete2(item)"
                            class="btn btn-sm btn-default pull-right">
                        <span class="glyphicon glyphicon-trash"></span>
                    </button>
                </div>
            </div>
        </div>
        <div ng-class="{'col-md-6':close, 'col-md-12':!close, 'fx-fade-left':!close, 'fx-fade-right':close}">

            <!-- П О Л У Ч А Т Е Л И  П И С Е М -->
            <div class="row">
                <div class="col-md-12">
                    <h4>Адресаты</h4>
                    <div ng-controller="ListController" class="form-group ">
                        <label class="control-label" ng-bind="items[0].sc()"></label>
                        <span ng-if="me.admin">{{filtered.length}}</span>
                        <select ng-disabled="edit" class="form-control" ng-model="item.recipient" multiple>
                            <option ng-repeat="option in filtered=(items | filter:{fired:false} | orderBy: 'lastName' )"
                                    value="{{option.id}}">
                                {{option.getFullName()}}
                            </option>
                        </select>

                    </div>
                </div>
            </div>

            <!-- Ш А Б Л О Н Ы  П И С Е М -->
            <div class="row" ng-if="item.start">
                <div class="col-md-12">
                    <!-- У В Е Д О М Л Е Н И Е  О  Н А Ч А Л Е  С Б О Р А  И Н Ф О Р М А Ц И И -->

                    <form class="form-horizontal" ng-show="comment">
                        <div class="form-group animate-if">
                            <label class="col-sm-6 control-label">Шаблон письма о начале сбора информации выхода нового сотрудника: </label>
                            <div class="col-sm-2">
                                <select class="form-control size-xs" ng-model="item.htmlData[0]"
                                        ng-options="option.name for option in examples track by option.tmpl"
                                ></select>
                            </div>
                        </div>
                    </form>

                    <div ng-if="comment" class="animate-switch-container  clearfix animate-if" ng-switch
                         on="item.htmlData[0].name">
                         <textarea required ng-trim="true" ng-model="item.htmlData[0].tmpl"
                                   style="width: 100%; height: 120px; border: none"
                                   class="animate-switch" ng-switch-when="№1">    {{item.htmlData[0].tmpl}}</textarea>
                        <textarea required ng-trim="true" ng-model="item.htmlData[0].tmpl"
                                  style="width: 100%; height: 120px; border: none"
                                  class="animate-switch" ng-switch-when="№2">{{item.htmlData[0].tmpl}}</textarea>
                        <textarea required ng-trim="true" ng-model="item.htmlData[0].tmpl"
                                  style="width: 100%; height: 120px; border: none"
                                  class="animate-switch" ng-switch-when="№3"> {{item.htmlData[0].tmpl}}</textarea>
                        <textarea required ng-trim="true" ng-model="item.htmlData[0].tmpl"
                                  style="width: 100%; height: 120px; border: none"
                                  class="animate-switch" ng-switch-when="№4">   {{item.htmlData[0].tmpl}}</textarea>
                    </div>

                    <code class="pull-right new" ng-bind-html="item.htmlData[0].description"></code>
                    <div ng-if="item.htmlData[0].tmpl" class="text-left well"
                         ng-bind-html="item.htmlData[0].tmpl"></div>
                    <a href="#" style="text-decoration: none" ng-click="toogle()">
                        <div ng-if="!item.htmlData[0].tmpl" class="text-left well" ng-bind-html="htmlData"></div>
                    </a>

                </div>
            </div>
            <!--<div class="row" ng-if="item.start">-->
            <!--<div class="col-md-12">-->
            <!--&lt;!&ndash; Д О П О Л Н И Т Е Л Ь Н О Е  У В Е Д О М Л Е Н И Е  О  Н Е  З А П О Л Н Е Н Н О Й  И Н Ф О Р М А Ц И И   &ndash;&gt;-->

            <!--<form class="form-horizontal" ng-show="comment2">-->
            <!--<div class="form-group animate-if">-->
            <!--<label class="col-sm-6 control-label">Шаблон о не заполненной информации: </label>-->
            <!--<div class="col-sm-2">-->
            <!--<select class="form-control size-xs" ng-model="item.htmlData2[0]"-->
            <!--ng-options="option2.name for option2 in examples2 track by option2.tmpl"-->
            <!--&gt;</select>-->
            <!--</div>-->
            <!--</div>-->
            <!--</form>-->

            <!--<div ng-if="comment" class="animate-switch-container  clearfix animate-if" ng-switch-->
            <!--on="item.htmlData2[0].name">-->
            <!--<textarea required ng-trim="true" ng-model="item.htmlData2[0].tmpl"-->
            <!--style="width: 100%; height: 120px; border: none"-->
            <!--class="animate-switch" ng-switch-when="№1">    {{item.htmlData2[0].tmpl}}</textarea>-->
            <!--<textarea required ng-trim="true" ng-model="item.htmlData2[0].tmpl"-->
            <!--style="width: 100%; height: 120px; border: none"-->
            <!--class="animate-switch" ng-switch-when="№2">{{item.htmlData2[0].tmpl}}</textarea>-->
            <!--<textarea required ng-trim="true" ng-model="item.htmlData2[0].tmpl"-->
            <!--style="width: 100%; height: 120px; border: none"-->
            <!--class="animate-switch" ng-switch-when="№3"> {{item.htmlData2[0].tmpl}}</textarea>-->
            <!--<textarea required ng-trim="true" ng-model="item.htmlData2[0].tmpl"-->
            <!--style="width: 100%; height: 120px; border: none"-->
            <!--class="animate-switch" ng-switch-when="№4">   {{item.htmlData2[0].tmpl}}</textarea>-->
            <!--</div>-->

            <!--<code class="pull-right new" ng-bind-html="item.htmlData2[0].description"></code>-->
            <!--<div ng-if="item.htmlData2[0].tmpl" class="text-left well"-->
            <!--ng-bind-html="item.htmlData2[0].tmpl"></div>-->
            <!--<a href="#" style="text-decoration: none" ng-click="toogle2()">-->
            <!--<div ng-if="!item.htmlData2[0].tmpl" class="text-left well" ng-bind-html="htmlData2"></div>-->
            <!--</a>-->

            <!--</div>-->
            <!--</div>-->

            <!-- I N F O  P A N E L -->

            <div ng-if="me.admin" class="panel"
                 ng-class="{'panel-success':!item.fired, 'panel-default':item.fired,'fx-fade-right':close, 'fx-fade-left':!close}">
                <div class="panel-heading">
                    <h3 class="panel-title">Информация</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <tr ng-repeat="(key, value) in item" ng-cloak>
                                <th>{{key}}</th>
                                <td>{{value | date:'dd.MM.yyyy' }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <pre ng-if="debug && me.admin"><h4>{{item| json}}</h4></pre>
        </div>
    </div>
</div>



